body {
  background-image: url(https://i.guim.co.uk/img/media/0318cf958ab0d6dbfc1d8a52c181532c9e81481a/87_0_1618_971/master/1618.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&s=9b333a5ce48cbd86e135464e702a39f4);
}
h2 {
  border: solid white;
  background-color: white;
}
